<div class="boards pb-4" style="overflow-x: auto">
  <div class="board bg-light">
    <h5 class="title">Aguardando</h5>
    <div class="dropzone" id="dropzone-to-do">
    </div>
  </div>
  <div class="board bg-light">
    <h5 class="title">Em Andamento</h5>
    <div class="dropzone" id="dropzone-pending">
    </div>
  </div>
  <div class="board bg-light">
    <h5 class="title">Pronto</h5>
    <div class="dropzone" id="dropzone-finished">
    </div>
  </div>
</div>