  </main>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
  <%- include('../js/notify') -%>
  <% if(messages && messages.length > 0){ %>
    <script>
      window.addEventListener('load', () => {
        try{
          const messages = <%- JSON.stringify(messages) %>;

          messages.forEach((data) => {
            try{
              const [type, ...rest] = data.split(':')
              const message = rest.join(':')
              
              notify(type, message)
            }catch(e){ console.error('[error-flash-message]', { e }) }
          })
        }catch(e){
          console.error('[error-process-flash-message]', { e })
          return []
        }
      })
    </script>
  <% } %>
</body>
</html>