.boards{
  display: flex;

  margin-top: 32px;
}
.board{
  border: 1px solid #FD951F11;
  border-radius: 4px;

  margin: 0 16px;
}
.board .title{
  padding: 16px 16px 0;
  margin: 0;
}
.dropzone{
  padding: 16px;
  min-width: 282px;
  min-height: 200px;
}
.card{
  padding: 16px;
  box-shadow: 0 2px 2px -1px #FD951Fcc;
  width: 250px;
  margin: 0 0 15px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
}
.status{
  width: 30px;
  height: 8px;
  background: gray;
  margin-bottom: 16px;
  border-radius: 8px;
}
.status.green{ background: #23d2ac; }
.status.blue{ background: #33adff; }
.status.red{ background: red; }
.highlight{ background-color: #FD951F08; }
.card, .dropzone{ transition: 400ms; }
.is-dragging{
  cursor: move;
  opacity: 0.3;
}
.over{ background-color: #4cd13711; }