<!-- DEPENDE DE socket.ejs -->
<div class="modal modal-sheet bg-secondary py-5" tabindex="-1" role="dialog" id="modalAddOrder">
  <div class="modal-dialog modal-xl" style="width: 100%; max-width:1200px;  height: 100%; max-height: 900px;" role="document">
    <form id="form-add-order" class="modal-content rounded-6 shadow">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title">Adicionar novo pedido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body row">
        <div class="form-floating">
          <input
            type="text"
            name="name"
            id="order-name"
            class="form-control rounded-4"
            placeholder="Digite o nome do pedido..."
            required
          >
          <label for="order-name">Nome do pedido</label>
        </div>
        <small class="text-muted">Insira um nome para poder identificar o pedido.</small>
        <!-- aqui -->
        <div class="form-floating col ">
          <input
            type="text"
            name="search"
            class="form-control rounded-4"
            placeholder="Pesquise por nome ou código"
            v-model="filter.search"
            required
          />
          <label for="order-name">Filtrar pedido</label>
        </div>
        <div class="form-floating col">
          <select
          class="form-select rounded-4"
          aria-label="Categoria"
          id="product-category"
          v-model="filter.category"
        >
          <option value="">Todas Categorias</option>

          </select>
        </div>
        <!-- aqui -->
      </div>
      <div class="container">
        <div
          class="border-bottom d-flex align-items-center justify-content-between text-muted rounded py-2 px-3"
          style="height: 100%;">
          <div class="d-flex flex-column" style="max-width: 70%;">
            <span>
              <b> product.id </b>  product.name 
            </span>
            <small class="text-muted opacity-50"> product.description </small>
          </div>
        <!-- aqui -->

      </div>
      <div class="modal-footer flex-column border-top-0 pb-3">
        <button
          type="submit"
          class="w-100 btn btn-lg rounded-4 btn-primary"
        >Adicionar</button>
      </div>
    </form>
  </div>
  
  <script>
    const formAddOrder = document.getElementById('form-add-order')
    if(formAddOrder) formAddOrder.addEventListener("submit", handleAddOrder);

    function handleAddOrder(e){
      if(e) e.preventDefault();
      if(!socket) return;

      const name = document.getElementById('order-name').value;
      if(!name){
        notify('error','Atribua um nome ao pedido')
        return;
      }

      addOrder(name)
    }
    function closeModalAddOrder(){
      const closeButton = document.querySelector('#modalAddOrder .btn-close')
      if(closeButton) closeButton.click();
    }
  </script>
   <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
   <script>
     const app = new Vue({
       el: '#product-app',
       data: {
         filter: {
           search: '',
           category: ''
         }
       }
     })
   </script>
</div>

<!-- <div class="row">
          <div class="col-6">
            <div class="card" style="width: 10rem;">
              <img type="img" class="card-img-top img" src="../../asset/frango.jfif"  alt="Imagem">
              <div class="card-body">
                <h5 class="card-title">Frango frito</h5>
                <h6 class="card-subtitle mb-2 text-muted">R$8,00</h6>
                <p class="card-text">Frango frito no balde</p>
                <a  class="card-link">Adicionar ao pedido</a>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card" style="width: 10rem;">
              <div class="card-body">
                <img type="img" class="card-img-top img" src="../../asset/caldo de cana.jfif"  alt="Imagem">
                <h5 class="card-title">Caldo de cana</h5>
                <h6 class="card-subtitle mb-2 text-muted">R$5,00</h6>
                <p class="card-text">Caldo de cana geladinho</p>
                <a class="card-link">Adicionar ao pedido</a>
              </div>
            </div>
          </div>
        </div> -->

