<div style="border-radius: 1rem; border-left: 40rem; background-color:white;
     position: fixed; z-index: 999999; bottom: 0; right: 0; width: 20rem;min-height: 5rem;right: 50px;bottom: 50px;"
     v-if="!!cartOpen"
     >
  <div class="modal-header border-bottom-0">
    <h5 class="modal-title">Carrinho</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="close()"></button>
  </div>
  <ul class="list-group">
    <li v-for="(item,index) in cart" class="list-group-item border-0">

      <label class="d-flex align-items-center justify-content-between">
        <button class="btn btn-sm btn-danger" v-on:click ="deleteItem(index)">delete</button>
        <small class="text-muted">
          <b>{{item.id}} -</b>
          {{item.name}}</small>
        <input
          type="number"
          class="form-control"
          v-model="item.qtd"
          style="max-width: 80px;"
        />
      </label>
    </li>
  </ul>
  <div class="modal-footer border-top-0">
    <button
    type="button"
    class="btn btn-sm btn-primary"
    v-on:click="submitCart"
    >Finalizar</button>
  </div>
</div>