<div class="modal bg-secondary py-5" tabindex="-1" role="dialog" id="modalImport">
  <div class="modal-dialog" role="document">
    <form
      class="modal-content rounded-6 shadow"
      action="<%- route.products.import() -%>"
      enctype="multipart/form-data"
      method="post"
    >
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title">Importar Planilha</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-0">
        <p>Faça o upload da sua planilha de produtos, seguindo o modelo disponibilizado</p>
        <a
          href="<%- route.products.template() -%>"
          target="_blank"
          rel="noopener noreferrer"
          class="btn d-block btn-sm btn-outline-dark mb-3 w-full"
        >Baixar Modelo</a>
        <div class="mb-4">
          <label for="formFile" class="form-label">Selecione a Planilha</label>
          <input
            class="form-control"
            type="file"
            name="file"
            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            required
          />
        </div>
      </div>
      <div class="modal-footer border-top-0 p-0 mb-2">
        <div class="row w-100">
          <div class="col-12 col-sm-6">
            <button type="submit" class="btn btn-primary w-100 mx-0">Importar</button>
          </div>
          <div class="col-12 col-sm-6">
            <button type="button" class="btn btn-light w-100 mx-0" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>