<%- include('layout/header'); -%>
  <div class="bg-light p-5 rounded my-auto">
    <% if (!order_id) { %>
      <h1>Selecione o Pedido</h1>
      <p class="lead">Selecione o pedido que deseja acompanhar...</p>
    <% }else{ %>
      <h1>Aguardando Pedido <span class="text-primary">#<%= order_id %></span></h1>
      <p class="lead">Seu pedido está sendo preparado...</p>
    <% } %>
  </div>
<%- include('layout/footer'); -%>