<%- include('layout/header'); -%>
  <div class="bg-light p-5 rounded my-auto">
    <h1>Gerenciamento de Fila de Pedidos</h1>
    <p class="lead">Controle sua fila de pedidos e notifique seus clientes no momento em que o pedido estiver pronto</p>
    <a class="btn btn-lg btn-primary" href="/gerenciar-fila" role="button">Iniciar</a>
  </div>
<%- include('layout/footer'); -%>