<%- include('layout/header'); -%>
  <div class="bg-light p-5 rounded my-auto">
    <h1>Adicione novos pedidos ou atualize existentes</h1>
    <p class="lead">Clique em adicionar, ou arraste os existentes para atualizar o status</p>
    <div class="d-flex" style="gap: .5rem">
      <a class="btn btn-lg btn-primary" href="#" role="button">Adicionar</a>
      <a class="btn btn-lg btn-dark" href="/fila" role="button">Painel de Pedidos</a>
    </div>
  </div>
<%- include('layout/footer'); -%>